<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio Clim&aacute;tico</title>

    <!-- Icono -->
    <link rel="icon" type="image/png" href="../../img/logo.ico" />


    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css"
        crossorigin="anonymous">

    <!-- custom CSS -->
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <!-- Botones Flotantes -->
    <div class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=+50371732016" class="nav-link text-facebook float-right"
            target="_blank">
            <i class="fab fa-whatsapp fa-3x"></i>
        </a>
    </div>
    <div class="btn-messenger">
        <a href="https://m.me/jefferson.pineda.754" class="nav-link text-facebook float-right" target="_blank">
            <i class="fab fa-facebook-messenger fa-3x"></i>
        </a>
    </div>


    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="../../index.html">
                <img src="../../img/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""
                    loading="lazy">
                Cambio Clim&aacute;tico
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../views/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../views/covid.html">Covid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../views/galery.html">Galery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../views/contact.html">Contact</a>
                    </li>
                </ul>
                <a class="btn btn-outline-success my-2 mx-1" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@getbootstrap">Login</a>
            </div>
        </div>
    </nav>


    <!-- Causas -->
    <div class="cuerpo">
        <div class="container">
            <div class="card border-warning mb-3" style="margin-top: 9.5%;">
                <div class="card-header text-center bg-warning">
                    <h1 class="text-white">Causas del cambio clim&aacute;tico</h1>
                </div>
                <div class="card-body">
                    <!-- Card1 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/causas1.jpg" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">La industria.</h4>
                                    <p class="card-text">Podr&iacute;amos pensar que industrias como la qu&iacute;mica o
                                        la
                                        petrolera son
                                        dos de las principales causas del cambio clim&aacute;tico. As&iacute; es, pero
                                        no
                                        est&aacute;n solas:
                                        aunque no lo parezca, industrias como la de los colorantes, del PVC, del cloro o
                                        de
                                        la metalurgia tambi&eacute;n afectan en gran medida, ya que generan una gran
                                        cantidad de
                                        residuos, algunos de ellos altamente t&oacute;xicos.</p>
                                    <p class="card-text"><small class="text-muted">Industrias generando CO2.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card2 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Generaci&oacute;n excesiva de residuos.</h4>
                                    <p class="card-text">Cada persona que vive en Europa genera m&aacute;s de un kilo y
                                        medio de
                                        basura al día. El 60% de esta basura consiste en envases y bolsas de
                                        pl&aacute;stico. En
                                        este punto, la poblaci&oacute;n tiene la clave para reducir los residuos, y es
                                        posible
                                        hacerlo con peque&ntilde;as acciones cotidianas. En este artículo
                                        encontrar&aacute;s
                                        m&aacute;s
                                        informaci&oacute;n sobre la cantidad de basura que se genera diariamente en el
                                        mundo.</p>
                                    <p class="card-text"><small class="text-muted">Costas con basura.</small></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/causas2.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                    <!-- Card3 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/causas3.jpg" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Transporte contaminante.</h4>
                                    <p class="card-text">La primera de las causas del cambio clim&aacute;tico recae en
                                        el
                                        transporte. El 40% de las emisiones en Espa&ntilde;a provienen de coches,
                                        camiones,
                                        furgonetas, autobuses; pero tambi&eacute;n de embarcaciones acu&aacute;ticas o
                                        a&eacute;reas.</p>
                                    <p class="card-text"><small class="text-muted">Contaminaci&oacute;n del
                                            aire.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card4 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Edificios que necesitan rehabilitaci&oacute;n
                                        energ&eacute;tica.</h4>
                                    <p class="card-text">El 36% de los gases emitidos en Europa son por culpa de
                                        edificios que necesitan una rehabilitaci&oacute;n energ&eacute;tica:</p>
                                    <ul>
                                        <li> <b>Aislamiento:</b> un correcto aislamiento t&eacute;rmico reduce al 50% el
                                            consumo de
                                            energ&iacute;a.</li>
                                        <li> <b>Estanqueidad:</b> evitar fugas de aire o sellar huecos entre ventanas y
                                            paredes puede reducir entre un 30% y un 50% el consumo.</li>
                                        <li> <b>Ventilaci&oacute;n:</b> una ventilación eficiente reduce en un 90% la
                                            demanda
                                            de calor..</li>
                                    </ul>
                                    <p class="card-text"><small class="text-muted">Edificios viejos.</small></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/causas4.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                    <!-- Card5 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/causas5.jpg" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Agricultura y ganader&iacute;a: sistema alimentario no
                                        sostenible.
                                    </h4>
                                    <p class="card-text">El actual sistema alimentario es incompatible con el cuidado
                                        del medio ambiente. El sistema en que se basan la agricultura y la
                                        ganader&iacute;a es
                                        una de las principales causas del cambio clim&aacute;tico y del calentamiento
                                        global.
                                        De hecho, si la poblaci&oacute;n europea consumiera la mitad de la carne que
                                        consume,
                                        estar&iacute;amos ahorr&aacute;ndole al planeta Tierra entre un 25% y un 40% de
                                        emisiones de
                                        efecto invernadero.</p>
                                    <p class="card-text"><small class="text-muted">No alcanza la comida.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card6 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Derroche de energ&iacute;a.</h4>
                                    <p class="card-text">Hay una larga lista de cosas que todos y todas podemos hacer en
                                        nuestro d&iacute;a a d&iacute;a para dejar de derrochar energ&iacute;a.
                                        ¿Sab&iacute;as que tu ordenador
                                        emite el equivalente a entre 50 y 200 gramos de CO2? Pi&eacute;nsalo cada vez
                                        que vayas
                                        a poner en marcha un interruptor o a mantenerlo encendido.</p>
                                    <p class="card-text"><small class="text-muted">Derroche de energ&iacute;a.</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/causas6.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                    <!-- Card7 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/causas7.jpg" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Deforestaci&oacute;n.</h4>
                                    <p class="card-text">La deforestaci&oacute;n no tiene solamente un impacto directo
                                        en su
                                        entorno: el efecto se genera en todo el planeta. Los árboles tienen la virtud de
                                        transformar el CO2 en ox&iacute;geno y es, precisamente, el CO2, el gas que
                                        m&aacute;s
                                        emitimos. Si en lugar de cuidar nuestros bosques nos dedicamos a eliminarlos, la
                                        concentraci&oacute;n de este gas en la atmósfera será todavía mayor.</p>
                                    <p class="card-text"><small class="text-muted">Da&ntilde;amos los pulmones del
                                            planeta.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card8 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Emisi&oacute;n de gases y compuestos de efecto invernadero.
                                    </h4>
                                    <p class="card-text">Estas actividades est&aacute;n cambiando la composici&oacute;n
                                        de la
                                        atm&oacute;sfera terrestre, emitiendo m&aacute;s gases y compuestos de efecto
                                        invernadero que
                                        pueden permanecer en la atm&oacute;sfera hasta por m&aacute;s de 50 a&ntilde;os.
                                        Si
                                        bien m&aacute;s
                                        de la
                                        mitad del CO2 emitido tarda un siglo en la actualidad para eliminarse de la
                                        atm&oacute;sfera, una parte del CO2 emitido (cerca del 20%) se mantiene en la
                                        atm&oacute;sfera
                                        durante muchos milenios.</p>
                                    <p class="card-text"><small class="text-muted">Emisi&oacute;n de gases y compuestos
                                            de efecto invernadero.</small></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/causas8.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                    <!-- Card9 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/causas9.jpg" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Contaminaci&oacute;n masiva.</h4>
                                    <p class="card-text">Según la ONU, s&oacute;lo el 9% de los 9 mil millones de
                                        toneladas de
                                        pl&aacute;stico producido en el mundo se ha reciclado. Este es s&oacute;lo uno
                                        entre decenas
                                        de datos que debería preocupar a las empresas de retail y consumo masivo, las
                                        cuales han formado parte del problema y, poco a poco, de la soluci&oacute;n.</p>
                                    <p class="card-text"><small class="text-muted">Contaminaci&oacute;n masiva en el
                                            mundo.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card10 -->
                    <div class="card mb-3 border-warning">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Emisi&oacute;n masiva de clorofluorocarburos CFCs.</h4>
                                    <p class="card-text">Los clorofluorocarburos, denominados tambi&eacute;n CFC, son
                                        sustancias derivadas de los hidrocarburos saturados obtenidos mediante la
                                        sustitución de átomos de hidrógeno por átomos de cloro y flúor.

                                        Estas sustancias no son productos naturales, sino fruto de la qu&iacute;mica
                                        industrial, por esta razón su degradaci&oacute;n es muy dif&iacute;cil y su
                                        presencia
                                        en la
                                        atm&oacute;sfera se prolonga durante muchos a&ntilde;os (50–100).</p>
                                    <p class="card-text"><small class="text-muted">Aerosol = Daño al planeta.</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/causas10.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <div class="bg-primary">
        <footer class="container pt-5">
            <div class="row">
                <div class="div1 col-12 col-lg-6">
                    <blockquote class="blockquote">
                        <p class="blockquote-footer m-0">NICOLAS GABRIEL ESCOBAR PEREZ <cite
                                title="Source Title">#176916.</cite>
                        </p>
                        <p class="blockquote-footer m-0">BRYAN ANTHONY GOMEZ L&Oacute;PEZ <cite
                                title="Source Title">#329518.</cite>
                        </p>
                        <p class="blockquote-footer m-0">PAUL FERNANDO TRUJILLO SANCHEZ<cite
                                title="Source Title">#001114.</cite></p>
                        <p class="blockquote-footer m-0">JEFFERSON FRANCISCO PINEDA QUINTANILLA <cite
                                title="Source Title">#352613.</cite></p>
                    </blockquote>
                </div>

                <div class="div2 col-12 col-lg-6 iconosRedes">
                    <a href="https://www.facebook.com/" class="nav-link text-facebook float-left" target="_blank">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>

                    <a href="https://www.youtube.com/" class="nav-link text-google float-left" target="_blank">
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>

                    <a href="https://twitter.com/" class="nav-link text-twitter float-left" target="_blank">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </div>
            </div>

        </footer>
        <p class="card-text text-center"><small class="text-muted">Todos los derechos reservados DS29 - @2020</small>
        </p>
    </div>


    <!-- Login -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="login" action="../../index.html">
                        <div class="form-group">
                            <label for="email">Usuario</label>
                            <input type="text" class="form-control" placeholder="Usuario" id="nombres" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Password</label>
                            <input type="password" class="form-control" placeholder="Password" id="apellidos" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" onsubmit="login()">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f1ceb20255.js" crossorigin="anonymous"></script>


    <!-- AlertsJS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="../../js/index.js"></script>
</body>

</html>