<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio Clim&aacute;tico</title>

    <!-- Icono -->
    <link rel="icon" type="image/png" href="../../img/logo.ico" />


    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css"
        crossorigin="anonymous">

    <!-- custom CSS -->
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <!-- Botones Flotantes -->
    <div class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=+50371732016" class="nav-link text-facebook float-right"
            target="_blank">
            <i class="fab fa-whatsapp fa-3x"></i>
        </a>
    </div>
    <div class="btn-messenger">
        <a href="https://m.me/jefferson.pineda.754" class="nav-link text-facebook float-right" target="_blank">
            <i class="fab fa-facebook-messenger fa-3x"></i>
        </a>
    </div>


    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="../../index.html">
                <img src="../../img/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""
                    loading="lazy">
                Cambio Clim&aacute;tico
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../views/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../views/covid.html">Covid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../views/galery.html">Galery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../views/contact.html">Contact</a>
                    </li>
                </ul>
                <a class="btn btn-outline-success my-2 mx-1" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@getbootstrap">Login</a>
            </div>
        </div>
    </nav>


    <!-- Soluciones -->
    <div class="cuerpo">
        <div class="container">
            <div class="card border-success mb-3" style="margin-top: 9.5%;">
                <div class="card-header text-center bg-success">
                    <h1 class="text-white">Soluciones al cambio clim&aacute;tico</h1>
                </div>
                <div class="card-body">
                    <!-- Card1 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/success1.jpg" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Recicla.</h4>
                                    <p class="card-text">Reciclar 1 Kg. de latas de aluminio usadas consume diez veces
                                        menos
                                        energía que producirlas; y se utiliza mucha menos energ&aacute;a para fabricar
                                        papel
                                        a
                                        partir de peri&oacute;dicos viejos que de la pulpa de madera
                                        Cuando prepares una bebida caliente, hierve s&oacute;lo el agua necesaria.</p>
                                    <p class="card-text"><small class="text-muted">Reciclar es muy importante.</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card2 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Conduce menos.</h4>
                                    <p class="card-text">Anda, monta en bicicleta, usa el transporte p&uacute;blico.
                                        Ahorrar&aacute;s 30
                                        gramos de CO2 por cada 4.5 kil&oacute;metros que no conduzcas. Por cada litro de
                                        combustible que quema el motor de un coche, se libera una media de 2.5 kilos de
                                        CO2,
                                        seg&uacute;n la Comisi&oacute;n Europea.</p>
                                    <p class="card-text"><small class="text-muted">Utiliza tu bicicleta.</small></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/success2.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                    <!-- Card3 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/success3.png" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Cambia los focos</h4>
                                    <p class="card-text">Reemplazar una bombilla tradicional por una de bajo consumo
                                        ahorra m&aacute;s de 45 kilogramos de di&oacute;xido de carbono al a&ntilde;o.
                                        Cierto que la segunda
                                        es m&aacute;s cara, pero resulta m&aacute;s econ&oacute;mica a lo largo de su
                                        vida. Una sola de ellas
                                        puede reducir los gastos de electricidad, seg&uacute;n la Comisi&oacute;n
                                        Europea.</p>
                                    <p class="card-text"><small class="text-muted">Focos m&aacute;s eficientes.</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card4 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Apaga la tele y la PC.</h4>
                                    <p class="card-text">Solo con apagar la televisi&oacute;n, el DVD o el ordenador
                                        cuando no
                                        est&eacute;n en uso evitar&aacute;s que miles de kilos de CO2 salgan a la
                                        atm&oacute;sfera. No dejes
                                        los aparatos el&eacute;ctricos en stand-by (espera): un televisor que permanece
                                        encendido durante tres horas al día (la media que los europeos ven la tele) y en
                                        stand-by las 21 horas restantes consumir&aacute; un 40% de la energ&iacute;a
                                        total en el modo
                                        de espera.</p>
                                    <p class="card-text"><small class="text-muted">El ahorro ayuda al planeta.</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/success4.png" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                    <!-- Card5 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/success5.png" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Revisa los neumáticos.</h4>
                                    <p class="card-text">Si la presi&oacute;n de tus neum&aacute;ticos baja 0.5 bares,
                                        tu coche
                                        consumir&aacute; un 2.5% m&aacute;s de combustible y, por tanto, liberar&aacute;
                                        un 2.5% m&aacute;s de CO2.
                                        El ahorro de cuatro litros de gasolina evita la emisi&oacute;n de seis kilos de
                                        di&oacute;xido
                                        de carbono.</p>
                                    <p class="card-text"><small class="text-muted">Ahorras y ayudas.</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card6 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Evita mucho embalaje.</h4>
                                    <p class="card-text">Escoge productos con poco envase: una botella de 1.5 litros
                                        genera menos residuos que tres de medio litro. En la compra usa bolsas
                                        reutilizables. Evita las toallitas h&uacute;medas y de papel. Puedes evitar la
                                        emisi&iacute;n
                                        de 1,100 kilos de CO2 si reduces tu basura un 10%.</p>
                                    <p class="card-text"><small class="text-muted">Evita generar residuos.</small></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/success6.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                    <!-- Card7 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/success7.jpg" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Menos agua caliente</h4>
                                    <p class="card-text">Es necesaria una gran cantidad de energ&iacute;a para calentar
                                        agua.
                                        Instala un regulador de caudal del agua en la ducha y evitar&aacute;s la
                                        emisi&oacute;n de m&aacute;s
                                        de 100 kilos de di&oacute;xido de carbono al a&ntilde;o.</p>
                                    <p class="card-text">Lava con agua fr&iacute;a o tibia y ahorrar&aacute;s 150 kilos
                                        de CO2.
                                        Ahorras agua caliente y gastas cuatro veces menos energ&iacute;a si en vez de un
                                        ba&ntilde;o
                                        te das una ducha. Cierra el grifo mientras te lavas los dientes.</p>
                                    <p class="card-text"><small class="text-muted">Ahorrar energia es la clave.</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card8 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Vigila los electrodom&eacute;sticos</h4>
                                    <p class="card-text">Usa la lavadora y el lavavajillas solo cuando est&eacute;n
                                        llenos. Si
                                        no lo est&aacute;n, usa programas econ&oacute;micos. No hace falta poner una
                                        temperatura alta,
                                        hoy los detergentes son eficaces incluso cuando es baja. Recuerda que si el
                                        refrigerador y el congelador est&aacute;n cerca de los fuegos o de la caldera,
                                        consumir&aacute;n mucha m&aacute;s energ&iacute;a. Si estos son viejos,
                                        descong&eacute;lalos
                                        peri&oacute;dicamente.
                                        Los nuevos tienen ciclos autom&aacute;ticos de descongelaci&oacute;n y son casi
                                        dos
                                        veces m&aacute;s
                                        eficientes.</p>
                                    <p class="card-text"><small class="text-muted">Todo bajo control.</small></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/success8.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>

                    <!-- Card9 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../img/success9.jpg" class="card-img" alt="Imagen">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Ajusta el termostato.</h4>
                                    <p class="card-text">La oscilaci&oacute;n de dos grados cent&iacute;grados en
                                        invierno y en verano
                                        ahorra m&acute;s de 600 kilos de di&oacute;xido de carbono por hogar en un solo
                                        a&ntilde;o. Bajar la
                                        temperatura un grado puede reducir la factura de la calefacción entre un 5 y un
                                        10%. Cuando ventiles tu casa, abre las ventanas unos minutos, no dejes escapar
                                        el calor mucho tiempo.</p>
                                    <p class="card-text"><small class="text-muted">Peque&ntilde;as grandes
                                            cosas.</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card10 -->
                    <div class="card border-success mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Planta un &aacute;rbol.</h4>
                                    <p class="card-text">Un solo &aacute;rbol absorbe una tonelada de di&oacute;xido de
                                        carbono
                                        durante toda su vida.</p>
                                    <p class="card-text"><small class="text-muted">Ayudemos a la madre tierra.</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="../../img/success10.jpg" class="card-img" alt="Imagen">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div class="bg-primary">
        <footer class="container pt-5">
            <div class="row">
                <div class="div1 col-12 col-lg-6">
                    <blockquote class="blockquote">
                        <p class="blockquote-footer m-0">NICOLAS GABRIEL ESCOBAR PEREZ <cite
                                title="Source Title">#176916.</cite>
                        </p>
                        <p class="blockquote-footer m-0">BRYAN ANTHONY GOMEZ L&Oacute;PEZ <cite
                                title="Source Title">#329518.</cite>
                        </p>
                        <p class="blockquote-footer m-0">PAUL FERNANDO TRUJILLO SANCHEZ<cite
                                title="Source Title">#001114.</cite></p>
                        <p class="blockquote-footer m-0">JEFFERSON FRANCISCO PINEDA QUINTANILLA <cite
                                title="Source Title">#352613.</cite></p>
                    </blockquote>
                </div>

                <div class="div2 col-12 col-lg-6 iconosRedes">
                    <a href="https://www.facebook.com/" class="nav-link text-facebook float-left" target="_blank">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>

                    <a href="https://www.youtube.com/" class="nav-link text-google float-left" target="_blank">
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>

                    <a href="https://twitter.com/" class="nav-link text-twitter float-left" target="_blank">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </div>
            </div>

        </footer>
        <p class="card-text text-center"><small class="text-muted">Todos los derechos reservados DS29 - @2020</small>
        </p>
    </div>


    <!-- Login -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="login" action="../../index.html">
                        <div class="form-group">
                            <label for="email">Usuario</label>
                            <input type="text" class="form-control" placeholder="Usuario" id="nombres" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Password</label>
                            <input type="password" class="form-control" placeholder="Password" id="apellidos" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" onsubmit="login()">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f1ceb20255.js" crossorigin="anonymous"></script>


    <!-- AlertsJS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="../../js/index.js"></script>
</body>

</html>